.lead {
    font-size: xx-large;
    text-align: center;
}

.secondary {
    font-size: x-large;
    text-align: center;
}

.font {
    font-family: 'Shadows Into Light', cursive;
}

.indexText {
    display: inline;
}

.navA {
    color:green;
}

.bodyA {
    color: black;
}

html{
    background-image: url("./Images/pexels-joão-jesus-925743.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
ul {
    list-style-type: none;
    text-align: center;
}

img {
    border-radius: 100px;
    width: 33%;
    height: auto;
    display: inline;
    float: left;
}

@media screen and (max-width: 992px) {
    main, nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    main, nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    main, nav {
        flex-direction: column;
    }
}