.img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(C:\Users\njski\desktop\homework\homework-2\Portfolio_Site\assets\Images\Headshot.jpg);
    background-size: cover;
    background-position: center;
}

.nav:hover {
    color: aqua;
}